<div id="full">
	<div id="upcoming_events">
		<h1>Upcoming Events</h1>

		<div class="event"><%= textile :'event/2011-05-21' %></div>
	</div>

	<div id="previous_events">
		<h1>Previous Events</h1>

		<div class="event"><%= textile :'event/2011-04-09' %></div>

		<h2>Is God Dead?</h2>
		<h4>Speaker: Nicholas Piotrowski</h4>
		<table>
			<tbody><tr><td><img alt="Looking into the abyss" src="images/Looking_into_the_abyss-small.jpg" class="event_pic"></td>
			<td class="event_description">
				At the end of the 19th century Friedrich Nietzsche proclaimed that
				“God is dead.”  Throughout the 20th century Western thinkers in
				every discipline have taken up this “death of God” motif.  What did
				Nietzsche mean by this, and how has he been understood over the subsequent
				100+ years?  Join us as we evaluate Nietzsche’s famous pronouncement
				in the light of more than a century’s worth of retrospect.  What does
				it mean and is it true that “God is dead?”
			</td>
			<td class="when_where">
				<strong>Location and Time</strong><br>
				February 26, 2011<br>
				10:00am - Noon<br>
				Batavia Public Library
			</td>
		</tr></tbody></table>

		<h2>How Did Humans Emerge From The Mud?</h2>
		<h4>Guest speaker: Dr. Gerry Rau</h4>
		<table>
			<tbody><tr><td><img alt="How did humans emerge from the mud?" src="images/emerge_from_the_mud.jpg" class="event_pic"></td>
			<td class="event_description">
				Did we evolve, or were we created? Whether we are
				just another animal or created in the image of God has
				important personal and societal implications. Do we have
				to choose between science and religion, or is there a way
				to reconcile the two?  This issue tends to spark heated debate, but our
				conversation will try to generate light rather than
				heat.
			</td>
			<td class="when_where">
				<strong>Location and Time</strong>
				December 4, 2010<br>
				10:00am - Noon<br>
				Batavia Public Library
			</td>
		</tr></tbody></table>

		<h2>Is Christianity Intellectual Suicide?</h2>
		<h4>Speaker: Nicholas Piotrowski</h4>
		<table><tbody><tr>
				<td><img alt="Man with head in sand" src="images/head in sand.jpg" class="event_pic"></td>
				<td class="event_description">
					Haven't modernity and the sciences disproved just
					about every Christian doctrine? Why, then, does the
					religion persist? Does it attract the dimwitted and the
					intellectually lazy? Or does it make people so, breeding
					ignorance as it spreads?
					<br>Join us, but do not check your brain at the door,
					as we consider if there is any philosophical warrant for
					Christian belief anymore.
				</td>

				<td class="when_where">
					<strong>Location and Time</strong>
					October 23, 2010<br>
					2:00 - 4:00pm<br>
					Batavia Public Library<br>
					<br>
					October 20, 2009<br>
					2:00 - 4:00pm<br>
					Elgin Community College
				</td>
		</tr></tbody></table>

		<h2>Proof</h2>
		<h4>Speaker: Nicholas Piotrowski and the FVTS Panel</h4>
		<table><tbody><tr>
				<td><img alt="Gavel and Scale" src="images/gavel-small.jpg" class="event_pic"></td>
				<td class="event_description">
					DeKalb | Emmaus College Church invites Nicholas Piotrowski of the Fox Valley Theological
					Society to campus to present his seminar "Proof" at 8 p.m. in the Regency
					Room of the Holmes Student Center to interested NIU students of all beliefs.

					Piotrowski, a PhD candidate at Wheaton College, will provide evidence
					for the existence of God, the resurrection of Christ and the reliability
					of the Bible. He will discuss the implications these events have for
					people's lives today.
					<a target="_blank" title="&quot;Proof&quot; seminar invites all beliefs" href="http://northernstar.info/campus/news/article_082a09ac-da52-11df-8dc2-00127992bc8b.html">More information</a>
				</td>
				<td class="when_where">
					<strong>Location and Time</strong>
					October 19, 2010<br>
					8:00pm<br>
					Regency Room,<br>
					Holmes Student Center,<br>
					Northern Illinois University
				</td>
		</tr></tbody></table>

		<h2>Is Religion Dangerous?</h2>
		<h4>Speaker: Nicholas Piotrowski</h4>
		<table><tbody><tr>
				<td><img alt="9/11 Lights" src="images/911 lights.jpg" class="event_pic"></td>
				<td class="event_description">
					The attacks on New York City and Washington DC
					of September 11, 2001 are but a small sampling of the
					many atrocities committed in the name of religion over
					the centuries.	Wouldn't our world beamch safer place,
					therefore, if the ideologies that resulted in such violence
					did not exist?  Join us as we imagine "no hell below us;
					above us only sky."
					Speaker: Nicholas Piotrowski
				</td>
				<td class="when_where">
					<strong>Location and Time</strong>
					September 11, 2010<br>
					2:00 - 4:00pm<br>
					Batavia Public Library
				</td>
		</tr></tbody></table>

		<h2>C. S. Lewis and the Problem of Evil and Suffering</h2>
		<h4>Guest speaker: Dr. Jerry Root</h4>
		<table><tbody><tr>
				<td><img alt="C. S. Lewis" src="images/cs-lewis-small.jpg" class="event_pic"></td>
				<td class="event_description">
					The Fox Valley Theological Society is sponsoring a public lecture and
					discussion forum on the topic of suffering and evil. Join the conversation
					as we together think diligently about the philosophical, theological
					and practical implications of the very real presence of suffering and
					evil in our world.
				</td>
				<td class="when_where">
					<strong>Location and Time</strong>
					May 29, 2010<br>
					10:00 - 11:30am<br>
					Batavia Public Library
				</td>
		</tr></tbody></table>

		<h2>Do Some People Really Believe That A Dead Man Came Back To Life?</h2>
		<h4>Speaker: Nicholas Piotrowski</h4>
		<table><tbody><tr>
				<td><img alt="Empty Tomb?" src="images/empty-tomb-small.jpg" class="event_pic"></td>
				<td class="event_description">
					To believe that a dead man came back to life is a lot to swallow.
					No wonder there have been many competing theories as to what actually
					happened on the first “Easter” morning and what kicked the Christian
					movement off.  Join us as we consider how different traditions have
					historically understood the story of the resurrection of Jesus of
					Nazareth?
				</td>
				<td class="when_where">
					<strong>Location and Time</strong>
					April 3, 2010<br>
					10:00 - 11:30am<br>
					Batavia Public Library<br>
					<br>
					April 18, 2009<br>
					7:30 - 9:00pm<br>
					Caribou Coffee, South Elgin<br>
				</td>
		</tr></tbody></table>

		<h2>Is Christianity Arrogant?</h2>
		<h4>Speaker: Nicholas Piotrowski</h4>
		<table><tbody><tr>
				<td><img alt="Arrogant?" src="images/arrogant-small.jpg" class="event_pic"></td>
				<td class="event_description">
					When comparing religions, it is often said that “All paths lead up
					the same mountain of truth.”  Yet, Christians claim that Jesus is
					the only way to the Father.  How can they make such an exclusive claim?
					How can any one group claim to know the only way to God?   Living in a
					pluralistic society, isn’t such a claim inherently arrogant?
				</td>
				<td class="when_where">
					<strong>Location and Time</strong>
					<br>February 13, 2010
					<br>10:00 - 11:30am
					<br>Batavia Public Library
				</td>
		</tr></tbody></table>

		<h2>Did a Virgin Really Have a Baby?</h2>
		<h4>Speaker: Nicholas Piotrowski</h4>
		<table><tbody><tr>
				<td><img alt="Manager Scene" src="images/baby-jesus-small.jpg" class="event_pic"></td>
				<td class="event_description">
					The virgin birth of Jesus of Nazareth is at the very root of our Christmas
					traditions. Needless to say many people dismiss such a story as myth.
					Others, however, take it as literal history; God performedamracle.
					Well, did it happen?  Is this the work of God?  Or is it a story by men?
					How can we know?  How can we find out?  Is it simply a charming tale we
					tell during a brief season in winter to help lift our holiday sentiment?
					Or is there something more lasting, more profound here?
				</td>
				<td class="when_where">
					<strong>Location and Time</strong>
					<br>December 12, 2009
					<br>9:00 - 10:30am
					<br>Batavia Public Library
				</td>
		</tr></tbody></table>
	</div>

	<!--
	<a id="follow_us" title="Fox Valley Theological Society" href="http://www.facebook.com/home.php?#!/group.php?gid=105275896168392&ref=ts"><img src="images/facebook.png"/></a>
	-->
</div>
<script type="text/javascript">
<!--
	function init() {
		$('#navigation li').removeClass('selected');
		$("#navigation li:contains('Events')").addClass('selected');
	}
	window.onload=init;
-->
</script>
