%h1 Introducing HAML
%h2 The Ruby inspired markup language

%strong{:class => "code", :id => "message"} Hello, World!

%strong.code#message Another way to do the same thing!

A div with variables...

.item{:id => "item#{item.id}"}= item.body

Another example div...
#content
  .left.column
    %h2 Welcome to our site!
    %p= print_information
  .right.column
    = render :partial => "sidebar"
