<div id="left">
    <%= liquid :home_event, :locals => {
        :speaker => data['speaker'],
        :event => data['event']
    } %>
</div>

<%= sidebar %>

<script src="http://www.google-analytics.com/ga.js" async="" type="text/javascript"></script><script type="text/javascript">
<!--
    function init() {
        $('#navigation li').removeClass('selected');
        $("#navigation li:contains('Home')").addClass('selected');
    }
    window.onload=init;
-->
</script>
