<div id="right">
  <h3>Upcoming Events</h3>

  <table>
    <tbody>

      {% for item in items %}
        {{item}}
      {% endfor %}

    <tr>
      <td>To receive event announcements send an email to <a href="mailto:info@fvts.net?subject=Send%20me%20email%20announcements">info@fvts.net</a>.</td>
    </tr>
  </tbody></table>

  <a id="follow_us" title="Fox Valley Theological Society" href="http://www.facebook.com/home.php?#%21/group.php?gid=105275896168392&amp;ref=ts"><img src="images/facebook.png"></a>
</div>
